/.metadata/

#Ignore build folders
kv_project/bin/
kv_project/obj/
kv_project/lib/
kv_project/Debug
kv_project/Release/


#Ignore specific folders
.settings/
.cproject
.project

#Ignore all .o, .exe &  .a files
*.o
*.exe
*.a
*.log
#Ignore backup
*~
*.bak
