/.metadata/

#Ignore build folders
kv_projekt_pracny/bin/
kv_project_pracny/obj/
kv_project_pracny/lib/
kv_project_pracny/Debug
kv_project_pracny/Release/
.vscode/

#Ignore specific folders
.settings/
.cproject
.project

#Ignore all .o, .exe &  .a files
*.o
*.exe
*.a
*.log
*.sh
#Ignore backup
*~
*.bak
